<div style="display: grid; grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); gap: 30px; margin-top: 40px;">
	<div style="background: #fff; padding: 20px; border-radius: 12px; border: 1px solid #edf2f7;">
		<h4>Heatmap (Attention)</h4>
		<img src="{{ mask_img }}" style="width: 100%; border-radius: 8px;">
	</div>

	<div style="background: #fff; padding: 20px; border-radius: 12px; border: 1px solid #edf2f7;">
		<h4>Detected Logo</h4>
		<img src="{{ original_img }}" style="width: 100%; border-radius: 8px;">
	</div>
</div>
